body {
	background-color: #f7f8fa;
}

.bg-nav-dark {
    background-color: #212529;
}

.pointer {
    cursor: pointer;
}

.form-control-notes {
    background-color: #ffffe6 !important;
}

.form-control:focus {
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225,83,97,.5);
}

.nowrap {
    white-space:nowrap;
}